projectvenv/
MajorProject/
nep-2/wav2vec2-nepali-finetuned-v1/
nep-2/wav2vec2-nepali-finetuned-v2/
nep-2/ne_np_female/
nep-2/tokenizer/
nep-2/wav2vec2-nepali-processor/
nep-2/ne_np_female/
D:/
backend/venv/